<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1180.v04c4e75dce43">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2689.v434009a_31b_f1">
    <script>node{
    stage(&apos;Checkout&apos;){
        git branch: &apos;main&apos;, url: &apos;https://github.com/jsriteja/SpringPetClinic.git&apos;
    }
    stage(&apos;Build&apos;){
        withMaven(maven: &apos;M3&apos;){
            sh &apos;mvn compile&apos;
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>